@page
@model Cana_House_Start.Pages.DonateModel
@{
    ViewData["Title"] = "Donate Page";
}

@* need to add photos etc & to link *@
<div class="text-black" style="text-align: center;">
    <h1 style="text-decoration: underline;">Donate Here</h1>
    <p></p>
    <p></p>
</div>

<p></p>

<div class="text-black" style="text-align: center;">
    <h3>We accept</h3>
    <table style="width: 80%; margin: auto; border-collapse: collapse; font-size: 18px; border: 1px solid black;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="padding: 10px; border: 1px solid black;">Donate</th>
                <th style="padding: 10px; border: 1px solid black;">Credit Card</th>
                <th style="padding: 10px; border: 1px solid black;">Paypal</th>
                <th style="padding: 10px; border: 1px solid black;">Venmo</th>
            </tr>
    </table>
</div>
