@page
@model Cana_House_Start.Pages.EventsModel
@{
	ViewData["Title"] = "Events Page";
}

<div class="text-black">
    <h1>Events</h1>
    <p></p>
</div>

<div class="text-black">
    <h2>Featured Events</h2>
    <p></p>
</div>

<div class="text-black">
    <h3>Event Calendar</h3>
    <p></p>
</div>