@page
@model Cana_House_Start.Pages.FoodMusicfriendshipModel
@{
    ViewData["Title"] = "Community Dinners";
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Comfortaa:wght@300;400&display=swap" rel="stylesheet">
    <style>
        body {
            background: url('/Images/Cana-Watercolor.JPG') no-repeat center center fixed;
            background-size: cover;
            color: #2C2C2C;
            font-family: 'Playfair Display', serif;
            margin: 0;
            padding: 0;
            position: relative;
        }



        h1 {
            font-family: 'Playfair Display', serif;
            color: #800020;
            text-align: center;
        }

        p {
            text-align: center;
            font-size: 18px;
            color: #333;
        }


        .info-section {
            background-color: #ffffff;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            border-left: 5px solid #283F3B;
        }

    </style>
</head>

<body>
    <div class="container">
        <div class="info-section">
            <h1>Food - Music - Friendship</h1>
            <p>
                Food, Music, Friendship is a lively event that celebrates the joy of community through delicious food, live music, and meaningful connections. Guests can enjoy a variety of tasty dishes
                while listening to great tunes, all in a friendly and welcoming atmosphere. It’s a perfect evening for making new friends, reconnecting with old ones, and enjoying the simple pleasures
                of good food and music.
            </p>
        </div>
    </div>
</body>
