@page
@model Cana_House_Start.Pages.FoundingModel
@{
    ViewData["Title"] = "Founding";
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Comfortaa:wght@300;400&display=swap" rel="stylesheet">
    <style>

        h1 {
            font-family: 'Playfair Display', serif;
            color: #800020;
            text-align: center;
        }

        h2 {
            font-family: 'Playfair Display', serif;
            color:#800020;
            text-align: left;
        }

        p {
            text-align: left;
            font-size: 18px;
            color: #333;
        }

        .info-section {
            background-color: #ffffff;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            border-left: 5px solid #283F3B;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Founding</h1>
        <div class="info-section">
            <img src="~/images/dorothy-day.jpg" style="max-width: 250px; height: auto; display: block; margin: auto;" alt="Centered Image">
            <h2>Dorothy Day</h2>
            <p>
				Dorothy Day was an American journalist, social activist, and Catholic convert. She was born in Brooklyn, New York on November 8, 1897.
				She was a co-founder of the Catholic Worker Movement and started the Catholic Worker newspaper. She was a strong advocate for the poor
				and was a pacifist. She was a devout Catholic and was a member of the Catholic Worker Movement until her death on November 29, 1980.
				She was declared a Servant of God by the Catholic Church in 2000. She was a strong influence on Dr. Jeremy Sienkiewicz and his founding
				of the Cana House of Hospitality.
            </p>
        </div>
        <div class="info-section">
            <img src="~/images/Sienkiewicz.jpg" style="max-width: 250px; height: auto; display: block; margin: auto;" alt="Centered Image">
            <h2>Dr. Jeremy Sienkiewicz</h2>
            <p>
                Dr. Jeremy Sienkiewicz is a Theology Professor at Benedictine College.
                He went to the University of Notre Dame and obtained his Bachelor of Arts in Theology and obtained his M.A. and his Ph.D. in
                Systematic Theology from The Catholic University of America. He strives to nurture the students of Benedictine College as they
                progress their time at Benedictine and donates his extra time and effort towards the Cana House of Hospitality. If you would like to contact
                Dr. Sienkiewicz, <a href="https://benedictinecollege.formstack.com/forms/contact?Subject=sienkiewicz-jeremy">Click here</a>.
            </p>
        </div>
        <div class="info-section">
            <img src="~/images/benedictine.jpg" style="max-width: 500px; height: auto; display: block; margin: auto;" alt="Centered Image">
            <h2>Cana House of Hospitality Club</h2>
            <p>
				Dr. Sienkiewicz leads the Cana House of Hospitality Club at Benedictine College. The club is a group of students
				who are dedicated to the mission of the Cana House of Hospitality. They help promote the Cana House of Hospitality and help with events
                the house hosts every other sunday.
            </p>
        </div>
        <div class="info-section">
			<h2>History</h2>
			<p>
				The Cana House of Hospitality was founded in 2019 by Dr. Jeremy Sienkiewicz. The house was founded to help the community of Atchison, Kansas.
				The house is a place where people can come together and have a meal and enjoy each other's company. It was made in memory of Dorothy Day, and her
                work towards bettering the cummunity around her. The house is located at 801 Spring Garden St, Atchison, Kansas 66002. The house is open every third 
                sunday from 3pm - 5pm.
			</p>
        </div>

    </div>
</body>
