@page
@model Cana_House_Start.Pages.GalleryModel
@{
	ViewData["Title"] = "Gallery";
}
<head>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Comfortaa:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
	<p>Hello Gallery</p>
</body>