@page
@model Cana_House_Start.Pages.InfoModel
@{
    ViewData["Title"] = "Additional Information";
}

<div class="text-black" style="text-align: center; margin-bottom: 30px;">
    <h1 style="text-decoration: underline;">Additional Information</h1>
</div>

<div class="text-black" style="text-align: center; margin-bottom: 30px;">
    <h2>Mission Goal</h2>
    <p>Information/Description</p>
</div>

<div class="text-black" style="text-align: center; margin-bottom: 30px;">
    <h3>Important Information</h3>
    <p>Meeting Place: Basement of St Joseph’s Church (801 Spring Garden)</p>
    <p>Available Dates: October 20, Nov 17, Dec 25*(3pm- 5pm)</p>
    <p>Available Meeting Times: 12pm-2pm, Every third Sunday</p>
</div>

<div class="text-black" style="text-align: center; margin-bottom: 30px;">
    <div style="font-size: 20px; font-weight: bold; text-transform: uppercase;">
        Director Of Cana House Of Hospitality
    </div>
    <p>Dr. Sienkiewicz</p>
    <p>Enter information here</p>
    <p>Enter image here</p>
</div>

<div class="text-black" style="text-align: center; margin-bottom: 30px;">
    <div style="font-size: 20px; font-weight: bold; text-transform: uppercase;">
        Team members
    </div>
    <p>Enter Names</p>
    <p>Enter information here</p>
    <p>Enter images here</p>
</div>

<div class="text-black" style="text-align: center; margin-bottom: 30px;">
    <h4>Community Dinner</h4>
    <p>Enter information here</p>
</div>

<div class="text-black" style="text-align: center; margin-bottom: 30px;">
    <h5>Food-Music-Friendship</h5>
    <p>Enter information here</p>
</div>

<div class="text-black" style="text-align: center; margin-bottom: 30px;">
    <h6>Contact Us</h6>
    <table style="width: 80%; margin: auto; border-collapse: collapse; font-size: 18px; border: 1px solid black;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="padding: 10px; border: 1px solid black;">Telephone Number: XXX-XXX-XXXX</th>
            </tr>
            <tr style="background-color: #f2f2f2;">
                <th style="padding: 10px; border: 1px solid black;">Email: (canahouseofhospitality@gmail.com</th>
            </tr>
            <tr style="background-color: #f2f2f2;">
                <th style="padding: 10px; border: 1px solid black;">Address: 801 Spring Garden St, Atchison Kansas 66002</th>
            </tr>
        </thead>
    </table>
</div>