@page
@model Cana_House_Start.Pages.ReserveModel
@{
	ViewData["Title"] = "Reserve The House";
}


<div class="text-black" style="text-align: center;">
    <h1>Reserve The House</h1>
    <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-top: 20px;">
        <div style="flex: 1; margin-right: 10px; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
            <h3>Reserve The House For Sponsorship</h3>
            <p>Link</p>
        </div>

        <div style="flex: 1; margin-left: 10px; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
            <h3>Reserve The House For Personal Use</h3>
            <p>Link</p>
        </div>
    </div>
</div>
<p></p>
<p></p>
