@page
@model Cana_House_Start.Pages.TeamMembersModel
@{
	ViewData["Title"] = "Team Members";
}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Comfortaa:wght@300;400&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #6c85a3;
            color: #2C2C2C;
            font-family: 'Playfair Display', serif;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 90%;
            max-width: 1200px;
            margin: auto;
            padding: 20px;
            background-color: #F5F1E3;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        h1 {
            font-family: 'Playfair Display', serif;
            color: #800020;
            text-align: center;
        }

        p {
            text-align: center;
            font-size: 18px;
            color: #333;
        }


        .info-section {
            background-color: #ffffff;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            border-left: 5px solid #283F3B;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="info-section">
            <h1>Team Members</h1>
            <p>Enter Names</p>
            <p>Enter information here</p>
            <p>Enter images here</p>
        </div>
    </div>
</body>
